<ion-view style="" class=" " id="page1" title="AE Tabs Controller">
    <ion-tabs style="" id="aeTabsController-tabs1" class="tabs-dark tabs-icon-top ">
        <ion-tab class=" " id="aeTabsController-tab1" title="Music" icon="ion-ios-play-outline" href="#/aeTabs/songList">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="aeTabsController-tab2" title="Videos" icon="ion-ios-videocam-outline" href="#/aeTabs/videoList">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="aeTabsController-tab3" title="Artists" icon="ion-ios-people-outline" href="#/aeTabs/artistList">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="aeTabsController-tab4" title="Events" icon="ion-ios-location-outline" href="#/aeTabs/eventList">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="aeTabsController-tab5" title="More" icon="ion-more" href="#/aeTabs/moreList">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
